/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
  height: 90%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#submit-spot-map {
  height: 90%;
  width:100%;
}

#spot-modal-body{
  height:100%;
  width:100%;
}
